@import "tailwindcss";
@theme{
    --color-primary: #F7FAFF;
    --color-secondary: #111827;
    --color-accent: #27302b;
}
/* globals.css */

@tailwind utilities;

@layer utilities {
  /* Custom scrollbar */
  .scrollbar-custom::-webkit-scrollbar {
    width: 8px; /* scrollbar width */
    height: 8px; /* for horizontal scrollbar */
  }

  .scrollbar-custom::-webkit-scrollbar-track {
    background: #f1f1f1; /* track color */
  }

  .scrollbar-custom::-webkit-scrollbar-thumb {
    background-color: #140cb3; /* thumb color (Tailwind indigo-600) */
    border-radius: 4px;
  }

  .scrollbar-custom::-webkit-scrollbar-thumb:hover {
    background-color: #27302b; /* darker on hover */
  }
}
